<div class="row mb-10">
    <div class="col-sm-6">
           <a class="topic" routerLink="/topic/{{topic.id}}">{{topic.title}}</a> 
    </div>
    <span class="col-sm-2 w-100">{{topic.commentsCount}}</span>   
    <span class="col-sm-2 w-100">{{topic.viewsCount}}</span>
    <span class="col-sm-2 w-100">8</span> <!-- TODO: replace the value to a dynamic one later  -->
    
</div>



<!-- TODO: change to this later  -->
<!-- <div class="d-flex">
    <div class="mr-auto p-2">Flex item</div>
    <div class="p-2">Flex item</div>
    <div class="p-2">Flex item</div>
  </div> -->